/* ===========
=====  Google Front ====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Rubik+Moonrocks&display=swap');

/*  Common style Ulitise */
body {
    font-family: 'Poppins', sans-serif;
margin: 0%;
padding: 0%;
}

.container {
    margin-top: 30PX;
    display: flex;
    width: 100%;
    justify-content: center;
}

/* Banner styles */
.top-banner {
    width: 1321px;
    height: 646px;
    background: #161616;;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 30px;

}

.banner-left-details {
    width: 531px;
    height: 424px;


}

/* left heding style */
.banner-left-heading {

    font-size: 45px;
    color: #fff;
    
}
.greatest-color{
    color: #DD0000;
}

.banner-left-details p {
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
}

.banner-left-btn {
    background-color: #DD0000;

    border-radius: 5px;
    padding: 14px 25px;
    color: #ffffff;
}

.banner-left-btn:hover {
    background-color: #a00808;
    cursor: pointer;
    transition: 0.6s;

}

.banner-right-side img {
    width: 100%;
    height: 600px;
    margin-bottom: -52px;

}

/* blog styly

*/

.left-aside-button {
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* aside style..... */
.left-aside-button li {
    width: 252px;
    height: 64px;

    border-radius: 10px;
    margin-top: 20px;
    list-style: none;
}

#blog-btn-bg {
    background-color: #DD0000;
    color: white;
    border-radius: 10px;
}

.left-aside-button li a {
    text-align: center;
    padding: 20px 40px;
    display: block;
    text-decoration: none;
    color: #161616;
    font-weight: bold;
    background-color: #FFFFFF;
    font-size: 16px;
    border-radius: 10px;

}

.left-aside-button li a:hover {
    background-color: #DD0000;
    color: white;
    border-radius: 10px;
    transition: 0.6s;
}


/* bloog style   */

.blog-main-container {
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
}


.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 45px;

}
.blog {
    width: 312px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    box-shadow: 0px 0px 2px ;
}
.blog img{
   width:100%
}
.blog:hover{
transform: scale(1.1);
 transition: 0.7s;
 cursor: pointer;
    
}
.blog-card-body {
    padding:20px 20px;
}
.blog-card-body a{
    text-decoration: none;
    border: 1px solid black;
    font-weight: 500;
 font-size: 16px;
 color: black;
 padding: 5px 10px;
 border-radius: 5px;
}
.blog-card-footer{
    display:flex;
}
.hours-history{
    padding-right: 20px;
}
.view-button{
    margin-top:120px;
    display:flex;
    align-items: center;
    justify-content:center;
visibility: hidden;
}
.view-button a
{ background-color: #DD0000;

    border-radius: 5px;
    padding: 16px 55px;
    color: #ffffff;
    text-decoration: none;
}

/* Upcoming Page Styles */

.upcomming_match-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 45px;

}

.match-card-parent{
   
    border: 1px solid #cfc9c9a1;
    width: 312px;
height: 242px;
justify-content: center;
align-items: center;
border-radius: 10px;
cursor: pointer;
}

.match-card-parent:hover{
    transform:scale(1.1);
    transition: 0.7s;
}

.match-card-body{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0px 0px;



}
.match-card-parent h3{
    text-align: center;
    margin-bottom: 0px !important;
}
.match-card-parent p{
    text-align: center;
    margin-top: 0px !important;
}




/* footer style......... */
.footer{
    margin-top: 130px;
width: 100%;
height: 444px;
background-color: #161616;

}
.goal{

   margin-top: 130px;
   padding:120px 0px 0px;

}
.goal h1{
    color: white;
    text-align:center;
    margin-bottom:40px
}
hr{
 width: 1320px;
height: 0px;


border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-buttom-menu-container{
    margin-top:50px
}
.footer-buttom-menu-container ul{
    display:flex;
    justify-content: center;
    align-items: center;

}
.footer-buttom-menu-container ul li{
    
    margin-left:20px;
    list-style: none;

}
.footer-buttom-menu-container ul li a{
    font-weight: 500;
font-size: 16px;
color: #B9B9B9;
text-decoration: none;
}
.footer-buttom-menu-container ul li a:hover{
    color: #DD0000;
    transition: 0.7s;
}
.social-icon{
    margin-top: 30px;
    text-align: center;
}
.fa-brands{
    font-size:35px;
    margin-left:20px;
    cursor:pointer;
}
.fa-brands:hover{
    color:#DD0000;
    transition:0.7s;
}
/* icon-color-style */
.fa-linkedin{
  color: #0077b7;
}
.fa-twitter{
    color: #1D9BF0;
}
.fa-facebook{
    color:#ffffff;
}
.fa-whatsapp{
    color: #28D146;
}

/* Responsive Style ====== */

/* For Mobile view */
@media only screen and (max-width: 668px) {
    .container{
        width: 100%;
    }
    .top-banner  {
        width: 100%;
        height: auto;
        background: #161616;;
        padding-bottom: 100px;
        display: grid;
        justify-content: center;
        align-items: center;

    
    }
    .banner-left-details{
        width: 100%;
        padding: 0 10px
      
    
    }
    .banner-left-details h1{
        font-size:2rem
    }
    .banner-right-side img {
        width: 100%;
        margin-bottom: -100px;
        height: 50%;
       
 
    
    }
    .blog-main-container {
       
        display: grid;
        gap: 30px 0px;
        width: 100%;
        justify-content: center;
    }
    .left-aside-button {
        background-color: white;
   
     
    }
    .left-aside-button li{
        border: 1px solid;
    }
    
    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px 45px;
    
    }

/* upcomming match page responsive*/
.upcomming_match-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px 45px;
}

    .footer{
        width: 100%;
    


    }
    .goal {
        margin-top: 30px;
        padding: 20px 0px 0px;
    }

    .footer-buttom-menu-container ul{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0%;
  }
  hr{
    width: 100%;
  }
}

/* Tablet view responsive */

@media only screen and (min-width:669px) and (max-width:992px){
    .container{
        width: 100%;
    }
    .top-banner  {
        padding: 50px ;
        width: 100%;
        margin: 20px;
        height: 100%;
        background: #161616;
        padding-bottom: 1px;
        display: flex;
        justify-content: center;
        align-items: center;

    
    }

    .banner-left-details h1{
        font-size:2rem
    }
    .banner-right-side img {
        width: 100%;
        margin-bottom: -100px;
        height: 50%;
       
 
    
    }
    .blog-main-container {
       
        display: grid;
        gap: 30px 0px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .left-aside-button {

        background-color: white;

        display: flex;
        flex-direction: row;
          width: 100%;
      
    }
    .left-aside-button li{
        height: 65px;
        width: 100%;
        margin-left: 10px;
        border: 1px solid;
       
  
    }
    .left-aside-button li a{
        font-size:1rem;
    }
    
    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 45px;
        justify-content: center;
        align-items:center;
    
    }
    .view-button{
        visibility: visible;
    }

/* upcomming match page responsive*/
.upcomming_match-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 45px;
}


    .footer{
        width: 100%;
    


    }
    .goal {
        margin-top: 30px;
        padding: 20px 0px 0px;
    }

    .footer-buttom-menu-container ul{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0%;
  }
  hr{
    width: 100%;
  }
}

/* desktop responsiv
 */
 @media only screen and (min-width:992px) and (max-width:1312px){
    .container{
        width: 100%;
    }
    .top-banner  {
     
        width: 100%;

        height: 100%;
        background: #161616;
    
        display: flex;
        justify-content: space-between;
        padding: 50px 50px 60px;
        align-items: center;

    
    }


 
 
 
   
  
    
    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 10px;
        justify-content: center;
        align-items:center;
    
    }
   

/* upcomming match page responsive*/
.upcomming_match-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 10px;
}


    .footer{
        width: 100%;
    


    }
    .goal {
        margin-top: 30px;
        padding: 20px 0px 0px;
    }

    .footer-buttom-menu-container ul{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0%;
  }
  hr{
    width: 100%;
  }
}