/* ===========
=====  Google Front ====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Rubik+Moonrocks&display=swap');

/*  Common style Ulitise */
body {
    font-family: 'Poppins', sans-serif;
margin: 0%;
padding: 0%;
}

.container {
    margin-top: 30PX;
    display: flex;
    width: 100%;
    justify-content: center;
}

/* Banner styles */
.top-banner {
    width: 1321px;
    height: 646px;
    background: #161616;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 30px;

}

.banner-left-details {
    width: 531px;
    height: 424px;


}

/* left heding style */
.banner-left-heading {

    font-size: 45px;
    color: #fff;
}

.banner-left-details p {
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
}

.banner-left-btn {
    background-color: #DD0000;

    border-radius: 5px;
    padding: 14px 25px;
    color: #ffffff;
}

.banner-left-btn:hover {
    background-color: #a00808;
    cursor: pointer;
    transition: 0.6s;

}

.banner-right-side img {
    width: 100%;
    height: 600px;

}

/* blog styly

*/
.left-aside-button {
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* aside style..... */
.left-aside-button li {
    width: 252px;
    height: 64px;

    border-radius: 10px;
    margin-top: 20px;
    list-style: none;
}

#blog-btn-bg {
    background-color: #DD0000;
    color: white;
    border-radius: 10px;
}

.left-aside-button li a {
    text-align: center;
    padding: 20px 40px;
    display: block;
    text-decoration: none;
    color: #161616;
    font-weight: bold;
    background-color: #FFFFFF;
    font-size: 16px;
    border-radius: 10px;

}

.left-aside-button li a:hover {
    background-color: #DD0000;
    color: white;
    border-radius: 10px;
    transition: 0.6s;
}


/* bloog style   */

.blog-main-container {
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
}


.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 45px;

}
.blog {
    width: 312px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    box-shadow: 0px 0px 2px ;
}
.blog:hover{
transform: scale(1.1);
 transition: 0.7s;
 cursor: pointer;
    
}
.blog-card-body {
    padding:20px 20px;
}
.blog-card-body a{
    text-decoration: none;
    border: 1px solid black;
    font-weight: 500;
 font-size: 16px;
 color: black;
 padding: 5px 10px;
 border-radius: 5px;
}
.blog-card-footer{
    display:flex;
}
.hours-history{
    padding-right: 20px;
}
/* footer style......... */
.footer{
    margin-top: 130px;
width: 100%;
height: 444px;
background-color: #161616;
position: relative;
}
.goal{

   margin-top: 130px;
   padding:120px 0px 0px;

}
.goal h1{
    color: white;
    text-align:center;
    margin-bottom:40px
}
hr{
 width: 1320px;
height: 0px;


border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-buttom-menu-container{
    margin-top:50px
}
.footer-buttom-menu-container ul{
    display:flex;
    justify-content: center;
    align-items: center;

}
.footer-buttom-menu-container ul li{
    
    margin-left:20px;
    list-style: none;

}
.footer-buttom-menu-container ul li a{
    font-weight: 500;
font-size: 16px;
color: #B9B9B9;
text-decoration: none;
}
.footer-buttom-menu-container ul li a:hover{
    color: #DD0000;
    transition: 0.7s;
}